@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: hsl(24 33.3333% 97.0588%);
  --foreground: hsl(0 0% 10.1961%);
  --card: hsl(24 33.3333% 97.0588%);
  --card-foreground: hsl(0 0% 10.1961%);
  --popover: hsl(24 33.3333% 97.0588%);
  --popover-foreground: hsl(0 0% 10.1961%);
  --primary: hsl(0 55.7789% 39.0196%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(43.0769 90.6977% 91.5686%);
  --secondary-foreground: hsl(39.8438 100% 25.098%);
  --muted: hsl(22.5 21.0526% 92.549%);
  --muted-foreground: hsl(33.3333 5.4545% 32.3529%);
  --accent: hsl(48 96.4912% 88.8235%);
  --accent-foreground: hsl(0 62.8205% 30.5882%);
  --destructive: hsl(0 70% 35.2941%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(37.7143 63.6364% 89.2157%);
  --input: hsl(37.7143 63.6364% 89.2157%);
  --ring: hsl(0 55.7789% 39.0196%);
  --chart-1: hsl(0 73.7089% 41.7647%);
  --chart-2: hsl(0 55.7789% 39.0196%);
  --chart-3: hsl(0 62.8205% 30.5882%);
  --chart-4: hsl(25.9649 90.4762% 37.0588%);
  --chart-5: hsl(22.7273 82.5% 31.3725%);
  --sidebar: hsl(22.5 21.0526% 92.549%);
  --sidebar-foreground: hsl(0 0% 10.1961%);
  --sidebar-primary: hsl(0 55.7789% 39.0196%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(48 96.4912% 88.8235%);
  --sidebar-accent-foreground: hsl(0 62.8205% 30.5882%);
  --sidebar-border: hsl(37.7143 63.6364% 89.2157%);
  --sidebar-ring: hsl(0 55.7789% 39.0196%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 16px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(24 9.8039% 10%);
  --foreground: hsl(60 4.7619% 95.8824%);
  --card: hsl(12 6.4935% 15.098%);
  --card-foreground: hsl(60 4.7619% 95.8824%);
  --popover: hsl(12 6.4935% 15.098%);
  --popover-foreground: hsl(60 4.7619% 95.8824%);
  --primary: hsl(0 73.7089% 41.7647%);
  --primary-foreground: hsl(24 33.3333% 97.0588%);
  --secondary: hsl(22.7273 82.5% 31.3725%);
  --secondary-foreground: hsl(48 96.4912% 88.8235%);
  --muted: hsl(24 8.7719% 11.1765%);
  --muted-foreground: hsl(24 5.7471% 82.9412%);
  --accent: hsl(25.9649 90.4762% 37.0588%);
  --accent-foreground: hsl(48 96.4912% 88.8235%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(30 6.25% 25.098%);
  --input: hsl(30 6.25% 25.098%);
  --ring: hsl(0 73.7089% 41.7647%);
  --chart-1: hsl(0 90.604% 70.7843%);
  --chart-2: hsl(0 84.2365% 60.1961%);
  --chart-3: hsl(0 72.2222% 50.5882%);
  --chart-4: hsl(43.2558 96.4126% 56.2745%);
  --chart-5: hsl(37.6923 92.126% 50.1961%);
  --sidebar: hsl(24 9.8039% 10%);
  --sidebar-foreground: hsl(60 4.7619% 95.8824%);
  --sidebar-primary: hsl(0 73.7089% 41.7647%);
  --sidebar-primary-foreground: hsl(24 33.3333% 97.0588%);
  --sidebar-accent: hsl(25.9649 90.4762% 37.0588%);
  --sidebar-accent-foreground: hsl(48 96.4912% 88.8235%);
  --sidebar-border: hsl(30 6.25% 25.098%);
  --sidebar-ring: hsl(0 73.7089% 41.7647%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 16px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(0 63% 18%);
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12),
    1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
